Improper parsing of `Content-Length` values

# Description
Section 8.6 of RFC 9110 defines the acceptable values in a `Content-Length` field value as follows:
```
Content-Length = 1*DIGIT
```
`DIGIT` is defined as follows in RFC 5234:
```
         DIGIT       =  %x30-39
```
In other words, a `Content-Length` header's value must be composed of one of more ASCII digits.

Mongoose does not enforce this rule. Instead, it interprets each `Content-Length` header value until it encounters a character that is not an ASCII digit, then gives up. This means that, for example, `Content-Length: 1_0` is interpreted as `Content-Length: 1`.

# Suggested Solution
Reject `Content-Length` headers that do not consist of one or more ASCII digits.

@kenballus thank you!
Is there a potential security threat with the current logic?